<h1 style="background-color:rgba(0,0,255,0.1);text-align:center;">Welcome</h1>
<br><br><h2 style="color:steelblue;background-color:rgba(0,0,255,0.1);">For Login Click
    <a href="./login.ejs">here</a>
</h2><br>
<!--<h3 style="color:orange;">HTML Colors</h3>
<h3 style="background-color:rgba(0,0,255,0.1)">Lots of transparancy</h3>-->
<h2 style="color:steelblue;background-color:rgba(0,0,255,0.1);">For Signup Click
    <a href="./signup.ejs">here</a>
</h2>
